* {
    font-family: 'Roboto', sans-serif;
}

.header_text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-left: 800px;
    margin-top: 20px;
    margin-bottom: 100px;
}

a,
.subtext {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.subtext {
    width: 450px;
}

.header,
.top {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.herotext {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.header_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 800px;
}

.btn {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
}

.top {
    display: flex;
    flex-direction: row;
}

.topright {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 100px;
    margin-right: 800px;
    margin-bottom: 100px;
}

.topleft {
    margin-left: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
}